       @import url('https://fonts.googleapis.com/css?family=Raleway');
           @import url('https://fonts.googleapis.com/css?family=Comfortaa');
           @import url('https://fonts.googleapis.com/css?family=Varela+Round');
           
    body {
        background-color: #202F36;
        color: white;
        font-family: 'Varela Round', sans-serif;
      
        }
           
    .container-fluid {
        margin: auto;
        padding: 0;
        }

    .films .btn-primary {
        display: block; 
        margin: auto;
        margin-top: 5px;
        width: 50%;
        }
           
    .card i {
        font-size: 20px;
        }
           
    h1 {
        background-color: white ;
        color: #202f36;
        margin-top: 50px;
        margin-bottom: 50px;
        }
       
    h3 {
         padding: 30px;
           }

    footer h4 {
        color: black;
        font-size: 16px;
        }


             
     .map, .where {
        text-align: center;
        min-height: 400px;
        padding-bottom: 60px;
        margin-left: 40px;
        margin-right: 40px;
        }
         
    footer {
        background-color: white;
        border-top: 1px solid black;
        min-height: 70px;
        margin-top: 60px;
        
        }
       
    footer .btn {
        color: #202f36;
        font-size: 15px;
        }

    #news .card {
        color: black; 
        }
   
    #news {
        background-color: white; 
        margin-bottom: 0;
        border: 2px solid 202F36;;
        border-radius: 10px; 
        padding: 50px;
        }

    .card-text, .card-title, .card {
        max-width: 400px;
        text-align: left;
        }
           
    footer a {
        color: black;
        font-size: 14px;
        padding: 10px;
        }
           
    .row { 
        padding-left: 0px;
        padding-right: 0px;
        }
    
    .card  {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        font-size: 14px;
        }
          
    .fa-bus, .fa-subway {
        padding: 20px;
        }
           
    a  {
        color: white;
        }    
           
    .card .img-responsive {
        max-height: 200px;
        }
           
    .date {
        margin: 40px;
        font-size: 30px;
        padding: 30px;
        }
      
    .nav {
        background-color: #55262C;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        position: fixed;
        width: 100%;
        z-index: 3;
        opacity: 0.9;
        color: white;
        }

    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #55262C;
        color: white;
        }

    .nav li a {
        display: inline-block;
        padding: 20px 20px;
        color: white;
        text-decoration: none;
        }

    .nav li a:hover,
    .nav .menu-btn:hover {
        background-color: #55262C;
        }

    .nav .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        }

    .nav .logo:hover {
        color: white;
        }

    .nav .menu {
        clear: both;
        max-height: 0;
        transition: max-height .5s ease-out;
        }

    .nav .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        }

    .nav .menu-icon .navicon {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        }

    .nav .menu-icon .navicon:before,
    .nav .menu-icon .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        }

    .nav .menu-icon .navicon:before {
        top: 5px;
        }   

    .nav .menu-icon .navicon:after {
        top: -5px;
        }

    .nav .menu-btn {
        display: none;
        }

    .nav .menu-btn:checked ~ .menu {
        max-height: 240px;
        }

    .nav .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
        }
           
    .form-horizontal {
        margin: 50px;
}
           
    .btn-primary {
        background-color: #55262C;
        border: 0;
        }
           
    .btn {
        color: white;
        }
           
    .btn-primary:hover {
        background-color: white;
        color: #55262C;
        }

    .header {
            padding-bottom: 80px;
            } 
    
    @media (min-width: 48em) {
    .nav li {
         float: left;
         }
    
    .nav li a {
        padding: 20px 30px;
        }
    
    .nav .menu {
        clear: none;
        float: right;
        max-height: none;
        }
    
    .nav .menu-icon {
        display: none;
        }
        }
    
    @media (max-width: 575px) {
    footer {
        background-color: white;
        border-top: 1px solid black;
        padding: 0;
        margin: auto;
        opacity: 0.9;
        }
        
    body {
        padding: 0px;
        font-size: 12px;
        margin: auto;
        }
        
    .row {
        padding: 0;
        margin: 0;
        }
         
    h1 {
        margin-top: 100px;
        }
        
    h2 {
        font-size: 16px;
        }
        
    footer h4 {
        text-align: center;
        color: darkred; 
        font-size: 14px;
        }  
        
    footer a {
        font-size: 14px;
        display: block; 
        color: black; 
        margin: auto;
        text-align: center;
        }
        
    footer a:hover {
        color: darkred; 
        text-decoration: none;
        }
               
    footer .fa{
        color: black;
        text-align: center;
        font-size: 20px;
        float: right;
        }
               
        
    .container-fluid {
        margin: auto;
        }
              
    .card {
        margin: auto;
        text-align: center;
        max-width: 400px;
        padding-top: 10px;
        }
               
    .card-title, .card-text {
        text-align: center;
        }
        
    footer .btn {
        margin: auto;
        padding-left: 20%;
        padding-top: 10%;
        padding-bottom: 10%;
        }
        }
        
    @media (min-width: 576px) and (max-width: 767px) {
    footer a {
        display: block;
        font-size: 15px;
        float: right;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
        }
               
    .row {
        margin: auto;
        padding: 0;
        }
               
    footer .btn {
        float: left;
        font-size: 20px;
        margin: 0 auto;
        }
               
    .header {
        margin-top: 100px;
        }
        
    footer {
        margin: auto;
        }
              
    .card {
        margin: auto;
        text-align: center;
        max-width: 400px;
        }
        
    .card .img-responsive {
        max-height: 200px;
        }
               
    .card-title, .card-text {
        text-align: center;
        }
        }
           
    @media (min-width: 768px) and (max-width: 991px) {
    footer {
        margin: auto;
        }
       
    .card .img-responsive {
        min-height: 200px;
        }
        
    .row {
        margin: auto;
        }
               
    footer a {
        padding: 10px 10px 0 20px;
        float: right;
        }
        
    footer .btn {
        padding: 0px;
        float: right;
        margin-left: 0px;
        padding: 20px
        }
              
    .nav .logo {
        display: none;
        }
            
    .header .img-responsive {
        height: 400px;
        margin: auto;
        }
                  
    .card {
        margin: auto;
        text-align: center;
        max-width: 400px;
        }
               
    .card-title, .card-text {
        text-align: center;
        }
        }

    @media (min-width: 992px) and (max-width: 1199px) {
    footer a{
        display: inline;
        float: right;
        }
    
    footer .btn {
        margin-bottom: 10px;
        font-size: 15px;
        }
    
    .row {
        margin: auto; 
        }
        
    .card { 
        font-size: 12px;
        }
        }

    @media (min-width: 1200px) {
    footer a {
        float: right;
        margin: auto;
        margin-top: 10px;
        }
    
    footer .btn {
        padding-top: 10px;
        }
    
    .row {
        margin: auto;
        margin-top: 40px;
        }
        
    .card .img-responsive {
            min-height: 200px;
        }
        }    